<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863837962890-4014piqth1mhgm9sjf5iier521ibmo7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863837962890-4014piqth1mhgm9sjf5iier521ibmo7n</string>
	<key>API_KEY</key>
	<string>AIzaSyBpCHFzPm5w1xHPtc9bYMOlL90ruuy7upA</string>
	<key>GCM_SENDER_ID</key>
	<string>863837962890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RearRider</string>
	<key>PROJECT_ID</key>
	<string>rear-rider</string>
	<key>STORAGE_BUCKET</key>
	<string>rear-rider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863837962890:ios:dd0850240fe83335856373</string>
</dict>
</plist>